* {
  box-sizing: border-box;
}

:root {
    font-size: 105%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: #f9fafc;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 0.4rem;
}

table {
    width: 100%;
}

table th {
    text-align: left;
}

input[type="text"],
input[type="password"],
textarea {
    width: 70%;
    border: 1px solid #d1d1d1;
    font-size: 105%;
    padding: 0.2rem 0.4rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #0074bf;
    outline: none;
}

button {
    background-color: #0074bf;
    color: #ffffff;
    border: none;
    font-family: inherit;
    font-size: 105%;
    padding: 0.5rem 1.4rem;
    border-radius: 4px;
}

button:hover,
button:focus {
    background-color: #0093f2;
    outline: none;
}

.container {
    max-width: 720px;
    margin: 0 auto;
}

.wide-container {
    max-width: 860px;
    margin: 0 auto;
}

a {
    color: #0074bf;
    text-decoration: none;
}

a:hover {
    color: #0093f2;
}

.header {
    background-color: white;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.header ul {
    list-style-type: none;
    padding: 1rem 0;
    margin: 0;
}

.header ul li {
    display: inline-block;
    margin-left: 1.2rem;
}

.photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

@media screen and (orientation: landscape) {
    .photo-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.photo-container > article img {
    width: 100%;
    display: block;
}

.photo-detail {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 1.5rem;
    background-color: white;
}

.photo-detail img {
    width: 100%;
    display: block;
}

.box {
    background-color: #fff;
    padding: 1.5em;
    margin-bottom: 1em;
}

.box h1 {
    margin: 0;
}

.photographer-information {
    text-align: center;
    margin: 2em 0;
}

.photographer-information h1 {
    font-weight: normal;
}

.photographer-information h1,
.photographer-information p {
    margin: 1.4rem 0;
}


div.avatar {
    width: 90px;
    height: 90px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.profile-photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: inline-block;
}

.support-pages {
    font-size: 90%;
    text-align: center;
    margin: 2em 0;
}

.support-pages ul {
    list-style-type: none;
    padding-left: 0;
}

.support-pages ul li {
    display: inline-block;
    margin: 0 0.6em;
}

.comment-profile-photo {
    height: 45px;
    width: 45px !important;
    border-radius: 50%;
    display: inline-block;
}

.comments {
    list-style-type: none;
    padding: 0 1rem 0 0;
}

.comments > .comment > .comment-profile-photo {
    float: left;
}

.comments > .comment > .comment-content {
    margin-left: 60px;
}

.comments > .comment > .comment-date {
    margin-left: 60px;
    color: #3d3d3d;
    font-size: 80%;
}

.photo-date {
    color: #3d3d3d;
    font-size: 80%;
}

.layout-wrapper {
    background-color: #ffffff;
}

.layout-wrapper:after {
    clear: both;
    content: "";
    display: table;
}

.layout-wrapper > .menu {
    float: left;
    width: 29.9999%;
}

.layout-wrapper > .menu > ul {
    list-style-type: none;
    padding: 0;
}

.layout-wrapper > .menu > ul li {
    border-bottom: 1px solid #cccccc;
}

.layout-wrapper > .menu > ul li a {
    padding: 0.5rem 0.8rem;
    display: block;
}

.layout-wrapper > .content {
    float: left;
    width: 69.9999%;
    padding: 0 30px;
}
