<nav class="navbar">
    <div class="container-navbar">
        <ul>
            <li><a href="{% url "home" %}">Photographic</a></li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url "photos:discover" %}">Discover</a></li>
            <li><a href="{% url "photos:create" %}">Upload new photo</a></li>
            <li><a href="{% url "settings:profile" %}">Settings</a></li>
            <li><a href="{% url "logout" %}">Logout</a></li>
            {% else %}
            <li><a href="{% url "users:signup" %}">Sign up</a></li>
            <li><a href="{% url "login" %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>