{% extends "base.html" %}

{% block content %}
    <div class="photographer-information">
        {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="" class="profile-photo">
        {% else %}
            <div class="avatar"></div>
        {% endif %}
        <h1>{{ user.username }}</h1>
        {% if profile.bio %}
            <p>{{ profile.bio }}</p>
        {% endif %}
    </div>
<section class="photo-container">
    {% include "photos/photo_list_snippet.html" %}
</section>
{% for photo in photo_list %}
{% empty %}
    <article class="photo-empty">
        <p>Sorry, no photos are available.</p>
    </article>
{% endfor %}
{% endblock %}