<li class="comment">
    {% if comment.author.profile.photo %}
        <img src="{{ comment.author.profile.photo.url }}" alt="" class="comment-profile-photo">
    {% else %}
        <div class="comment-avatar"></div>
    {% endif %}
    <p class="comment-content">
        <a href="{% url "users:detail" comment.author.username %}">
            <strong>{{ comment.author.username }}</strong>
        </a>
        {{ comment.content }}
    </p>
    <p class="comment-date">{{ comment.created_on|date:"Y-m-d" }}</p>
</li>