{% extends "base.html" %}

{% block content %}
<form action="{% url "photos:create" %}" method="post" enctype="multipart/form-data">
    <h1>Create new photo post</h1>
    {% csrf_token %}
    <p>
        <label>Photo:</label><br>
        <input name="photo" type="file">
    </p>
    <p>
        <label>Caption:</label><br>
        <textarea name="caption"></textarea>
    </p>
    <p>
        <label>Author:</label><br>
        <input name="author" type="text">
    </p>
    <p>
        <button type="submit">Create photo</button>
        <a href="{% url "photos:photo_list" %}">« Back</a>
    </p>
</form>
{% endblock %}