{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photographic</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
</head>
<body>
<p><a href="{% url "photos:create" %}">Upload new photo</a></p>
{% for photo in photos %}
    <article class="photo-{{ photo.id }}">
        <p><img src="{{ photo.photo.url }}" width="400" alt=""></p>
        <p><strong>{{ photo.author }}</strong> {{ photo.caption }}</p>
        <p>{{ photo.created_on }}</p>
        {% if not forloop.last %}<hr>{% endif %}
    </article>
{% empty %}
    <article class="photo-empty">
        <p>Sorry, no photos are available.</p>
    </article>
{% endfor %}
</body>
</html>