{% extends "base.html" %}

{% block content %}
<article class="photo-{{ photo.id }} photo-detail">
    <div>
        <img src="{{ photo.photo.url }}" alt="">
    </div>
    <div>
        <ul class="comments">
            {% for comment in comments %}
            {% include "photos/comment.html" with comment=comment only %}
            {% endfor %}
        </ul>
        <p>
            <a href="{% url "photos:create_comment" photo.id %}">Share a comment</a>
        </p>
        <p class="photo-date">{{ photo.created_on|date:"Y-m-d" }}</p>
    </div>
</article>
{% endblock %}