{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photographic</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    <div class="container-small login">
        <header>
            <h1>Photographic</h1>
        </header>
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </div>
    <nav class="support-pages">
        <ul>
            <li><a href="{% url "cookie-policy" %}">Cookie policy</a></li>
            <li><a href="{% url "privacy-policy" %}">Privacy policy</a></li>
        </ul>
        <p>© Photographic by Aer Development</p>
    </nav>
</body>
</html>