{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photographic</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
{% include "shared/header.html" %}
<div class="sidebar-layout container-normal">
    <div class="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>