{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photographic</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
<div class="header">
    <div class="wide-container">
        <ul>
            <li><a href="{% url "home" %}">Photographic</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url "photos:create" %}">Upload new photo</a></li>
            <li><a href="{% url "users:profile" %}">Edit profile</a></li>
            <li><a href="{% url "logout" %}">Logout</a></li>
            {% else %}
            <li><a href="{% url "users:signup" %}">Sign up</a></li>
            <li><a href="{% url "login" %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
    <nav class="support-pages">
        <ul>
            <li><a href="{% url "cookie-policy" %}">Cookie policy</a></li>
            <li><a href="{% url "privacy-policy" %}">Privacy policy</a></li>
        </ul>
        <p>© Photographic by Aer Development</p>
    </nav>
</div>
</body>
</html>