{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photographic</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
<div class="header">
    <ul>
        <li><a href="{% url "home" %}">Photographic</a></li>
        <li><a href="{% url "photos:create" %}">Upload new photo</a></li>
    </ul>
</div>
{% block content %}
{% endblock %}
</body>
</html>