{% extends "base.html" %}

{% block content %}
    <h1>Privacy Policy</h1>

    <p>Photographic, accessible at photographic.aer.dev, priorities the privacy of our visitors. This privacy policy document contains types of information that is collected and recorded by Photographic and how we use it.</p>
    <p>This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Photographic. This policy does not apply to any information collected offline or via channels other than this website.</p>

    <h2>Consent</h2>

    <p>By using our website, you hereby consent to our privacy policy and agree to its terms.</p>
{% endblock %}
